<div class = 'footer'>
                <hr>
                <center>
                    <h6>By Elijah Hallera 2020 CST 336</h6>
                </center>
            </div>
        </div>
  </body>
</html>