<!DOCTYPE html>
<html>
    <head>
        <meta http-quiv="Content-Type" content="text/html; charset=utf-8/">
        <title> Intermediate Express</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
         rel="stylesheet" 
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
         crossorigin="anonymous">
         <link href = "app.css" rel = "stylesheet" type = "text/css">  
    </head>
    
    <body2>
        <h2 class = "error"> 404: Page Not Found!!!</h2>
    </body2>
</html>