<%- include('partials/header') -%>
 
 <img src="solarsystem.jpg" alt="The Solar System" style="width:500px;height:300px;" class="center"/>
 </br>
 
 <div class = "center">
  <h1> Welcome to the Solar System Site! </h1>
  <h3> Click on a planet to know more about it: </h3>
  <a href="/mercury" class = "fontsize"> Mercury </a>
  <a href="/venus" class = "fontsize"> Venus </a>
  <a href="/earth" class = "fontsize"> Earth </a>
  <a href="/venus" class = "fontsize"> Venus </a>
  <a href="/mars" class = "fontsize"> Mars </a>
 </div>

<%- include('partials/footer') -%>