<%- include('partials/header') -%>

<img src="mars.jpg" alt="Planet Venus" style="width:500px;height:500px;" class="center"/>

<h1>Mars </h1>

<p>The fourth planet from the Sun, Mars is a dusty, cold, desert world with a very thin atmosphere. 
This dynamic planet has seasons, polar ice caps and weather and canyons and extinct volcanoes, 
evidence of an even more active past. Mars is one of the most explored bodies in our solar system, 
and it's the only planet where we've sent rovers to roam the alien landscape. NASA currently has three spacecraft in orbit, 
one rover and one lander on the surface and another rover under construction here on Earth. India and ESA also have spacecraft in orbit above Mars.
These robotic explorers have found lots of evidence that Mars was much wetter and warmer, with a thicker atmosphere, billions of years ago.</p>


<%- include('partials/footer') -%>