<%- include('templates/header'); -%>

 <body>
        <header>
            <name1> Computer Science Information </name1>
            <nav>
                <ul>
                    <li> <a href = "/home" > Home </a> </li>
                    <li> <a href = "/proglang"> Programming Languages </a> </li>
                    <li> <a href = "/viruses"> Viruses </a> </li>
                    <li> <a href = "/compnet" id = "currentPage"> Computer Networks </a> </li>
                </ul>
            </nav>
        </header>
    
    <figure class = flex-container>
        <img src = "COMPUTERNETWORKS.jpg" alt = "computer networks photo" id = "homePhotos">
    </figure>
    
    <main>
    <p id = "PLhead">Computer Networks</p2>
    </main>
    
    <main id = "PLmain">
        <p>Definition: A computer network is a digital telecommunications network for sharing resources between nodes, which are computing devices that use a common telecommunications technology. 
        Data transmission between nodes is supported over data links consisting of physical cable media, such as twisted pair or fiber-optic cables, or by wireless methods, such as Wi-Fi.</p>
        <p>History: In the late 1950s, early networks of computers included the U.S. military radar system Semi-Automatic Ground Environment. In 1995, the transmission speed capacity for Ethernet increased from 10 Mbps to 100 Mbps and by 1998, Ethernet supported transmission speeds of a Gigabit. The ability of Ethernet to scale easily, such as with fiber optic cable speeds, is a contributing factor to its continued use.  </p>
        <p>Modern Usage: In a society like today, computer networks plays a major role for everyone. Almost every electrical device we use today relates to networking whether that be phones, laptops, appliances, and even smart homes.</p>
    </main>
    
    <main>
        <p><a href = "https://en.wikipedia.org/wiki/Computer_network#History" id = "sourceText"> Source:https://en.wikipedia.org/wiki/Computer_network#History </a></p>
    </main>
    
    </br>
    </br>

<%- include('templates/footer'); -%>