<%- include('templates/header') -%>

<body>
        <header>
            <name1> Computer Science Information </name1>
            <nav>
                <ul>
                    <li> <a href = "/home"> Home </a> </li>
                    <li> <a href = "/proglang" id = "currentPage"> Programming Languages </a> </li>
                    <li> <a href = "/viruses"> Viruses </a> </li>
                    <li> <a href = "/compnet"> Computer Networks </a> </li>
                </ul>
            </nav>
        </header>
        
     <figure class = flex-container id = "testingIMG">
        <img src = "COMPUTERLANGUAGES2.jpg" alt = "computer languages photo" id = "homePhotos">
    </figure>
    
    <main>
    <p id = "PLhead">Programming Languages</p2>
    </main>
    
    <main id = "PLmain">
        <p>Definition: A programming language is a notation for writing programs, which are specifications of a computation or algorithm.</p>
        <p>History: The period from the 1960s to the late 1970s brought the development of the major language paradigms now in use for example, C, APL, and ALGOL. 
        Each of these languages spawned descendants, and most modern programming languages count at least one of them in their ancestry. </p>
        <p>Modern Usage: Thousands of different programming languages have been created, mainly in the computing field. 
        Software is commonly built with 5 programming languages or more. 
        Programs for a computer might be executed in a batch process without human interaction, or a user might type commands in an interactive session of an interpreter. 
        In this case the "commands" are simply programs, whose execution is chained together. </p>
    </main>
    
    <main>
        <p><a href = "https://en.wikipedia.org/wiki/Programming_language#Use" id = "sourceText"> Source: https://en.wikipedia.org/wiki/Programming_language#Use </a></p>
    </main>
    
    </br>
    </br>
    
<%- include('templates/footer') -%>