<footer>
            <font size = "3.5">
            CST 336. 2020&copy; Hallera <br />
            <strong>Disclaimer:</strong> This
            It is used for academic purposes only. <br />
            </font>
            <br />
        </footer>
        
    </body>
    
</html>