<!DOCTYPE html>
<html>
    <head>
        <meta http-quiv="Content-Type" content="text/html; charset=utf-8/">
        <title> The Solar System</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
         rel="stylesheet" 
         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
         crossorigin="anonymous">
        <link href = "app.css" rel = "stylesheet" type = "text/css">  
    </head>
    
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <h1> Solar System </h1>
            <ul>
                <li> <a href = "/" id = "currentPage" class = "homeA"> Home </a> </li>
                <li> <a href = "/mercury" class = "homeA"> Mercury </a> </li>
                <li> <a href = "/venus" class = "homeA"> Venus </a> </li>
                <li> <a href = "/earth" class = "homeA"> Earth </a> </li>
                <li> <a href = "/mars" class = "homeA"> Mars </a> </li>
            </ul>
        </nav>
    </header>
    
    </br>
    
    <body>